.brand-offcanvas {
    background-color: var(--brand-bg-dark-grey) !important;
    max-width: 350px;
}

.offcanvas-logo img {
    width: 100%;
    height: 35px;
    object-fit: contain;
}

.dash-menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
}

.dash-list {
    padding: 0.85rem;
}

.dash-list.active {
    background-color: var(--brand-red);
    border-radius: 5px;
}

.dash-list a {
    text-decoration: none !important;
    color: var(--brand-white) !important;
}

.dash-list p {
    margin-bottom: 0;
    text-decoration: none !important;
}

.brand-offcanvas .btn-close {
    filter: invert(1);
    background-color: transparent;
}


.brand-offcanvas .btn-close:hover,
.brand-offcanvas .btn-close:focus {
    filter: invert(0.8); 
}